@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
body{
    background-color: #8F857D;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transform: translateY(30px);
    animation: appearUp 1s ease forwards;
}
@keyframes appearUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
p{
    font-size: 18px;
}
*{
    margin: 0;
    padding: 0;
}
nav .fa-solid{
    color: #F7F0F5;
    display: none;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    background: #433633;
    padding: 15px 0;
    width: 100%;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
    padding: 10px;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    color: #F7F0F5;
    font-size: 20px;
    position:relative;
}
nav ul li a::after{
    content:"";
    width: 0;
    height: 3px;
    background: #F7F0F5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.7);
    border-width: 40%;
    
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    
}
span{
    font-weight: bold;
    font-style: italic;
}
.text1{
    font-size: 50px;
    margin: 30px;
}


#about{
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.col1 {
    flex-basis: 35%;
}
.col1 img{
    width: 100%;
    height: auto;
}
.col2 {
    flex-basis: 60%;
}
img{
    border-radius: 5%;
    background-color: rgba(200, 200, 200, 0.7);
    size: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.titlew{
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}
.tabTitles{
    display: flex;
    margin: 20px 0 40px;
}
.tabLinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-bottom: 15px;
    display: flex;
    border-radius: 5px;
     box-shadow: 0 20px 50px 20px rgba(0,0,0,0.1);
     background-color: rgba(31, 20, 20, 0.1);
}
.tabLinks::after{
     content:"";
    width: 0;
    height: 3px;
    background: #F7F0F5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tabLinks.activeLink::after{
    width: 50%;
}
.tabContents ul li{
    list-style: none;
    margin: 10px 0;
    padding: 12px 15px;
    border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0,0,0,0.1);
     background-color: rgba(31, 20, 20, 0.1);
}
.tabContents ul li span{
    font-size: 14px;
    color: #433633;
}
.tabContents{
    display: none;
}
.tabContents.activeTab{
    display: block;
}
.desc{
    box-shadow:  4px 15px rgba(0,0,0,0.1);
    border-radius: 5%;
    background-color: rgba(200, 200, 200, 0.7);
    padding: 15px;
    font-size: 20px;
}
#hobbies{
    padding:30px
}
.hobbies-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.sub-title{
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}
#pic1{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8%;
    background-color: rgba(200, 200, 200, 0.7);
}

.hobbies-list div{
    background: #a7978b;
    padding: 20px;
    Font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    transition: background 0.5s, transform 0.5s;
}
.hobbies-list div:hover{
    background: #d1b6a1;
    transform: translateY(-10px);
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
    margin-bottom: 30px;
}
.contact-left p{
    flex-basis: 35%;
    margin-top: 15px;
    margin-right: 15px;
}
.contact-left p i{
    flex-basis: 35%;
    margin-right: 10px;
}
.icons{
    margin-top: 30px;
}
.icons a{
text-decoration: none;
    display:inline-block;
    font-size: 50px;
    color: #414275;
    transform: 1s
}
.icons a:hover{
    color: #545596;
    transform: translateY(-5px);
}
button{
    display: inline-block;
    background-color: rgba(200, 200, 200, 0.7);
    padding: 12px 15px;
    width: 45%;
    font-size: 18px;
    text-align: left;
    border: 0;
    transform: 1s;
    margin-top: 10px;
}
button:hover{
    background-color: #d1b6a1;
    transform: translateY(-3px);
}
.contact-right{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    background-color: rgba(200, 200, 200, 0.7);
    margin: 10px 0;
    border-radius: 6px;
    font-size: 18px;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #433633;
    font-weight: bold;
    font-size: 25px;
    color: #F7F0F5
}
@media only screen and (max-width: 600px){
    .row{
        flex-direction: column;
    }
    nav ul li{
    display:flex;
    flex-direction: column;
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    align-items: center;
}
.header-text h1{
    font-size: 35px;
    margin-top: 20px;
}
.text1{
    font-size: 40px;
}
.col1 {
    flex-basis: 100%;
}
.col1 img{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.col2 {
    flex-basis: 60%;
}
img{
    border-radius: 5%;
    background-color: rgba(200, 200, 200, 0.7);
    size: 50%;
}
.titlew{
    margin-top: 50px;
}
.desc{
    width: 75%;
    margin-top: 20px;
    height: 300px;
    font-size: 16.5px;
}
.tabContents{
    padding: 5px 5px;
    width: 80%;
}
.sub-title{
    margin-top: -50px;
}
#pic1{
    width: 240px;
    height: 245px;
    font-size: 5px;
}
h2{
    font-size: 35px;
}
nav .fa-solid{
    display: block;
    padding: 10px;
}
nav ul{
    background: #433633;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    transition: right 0.5s;
}
nav ul li{
    margin: 25px;
    display: block;
}
nav ul .fa-x{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
}
html{
    scroll-behavior: smooth;
}